[submodule "lib/umka"]
	path = lib/umka
	url = https://github.com/vtereshkov/umka-lang.git
	branch = syntax-conv
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "lib/umprof"]
	path = lib/umprof
	url = https://git.sr.ht/~mrms/umprof
[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol
[submodule "cmd/mmdoc"]
	path = cmd/mmdoc
	url = https://git.sr.ht/~mrms/mmdoc
