**/.vscode
**/*.swp
build
tophat
tophat.exe
tophatnc.exe
src/umkalibs.h
lib/stb_image.h
lib/miniaudio.h
tophat-linux.zip
tophat-win.zip
src/*.o
src/*.d
**/gmon.out
**/wasm-out
**/th_wasm_data
th_emscripten.a
umka/**/*.md

# Windows:
.obj
.pdb

# For now windows:
bin

pak/
pak.tar
