**/*.swp
**/.vscode
**/gmon.out
build
doxydocs/
lib/miniaudio.h
lib/stb_image.h
src/*.o
src/*.d
src/umkalibs.h
tophat
tophat-win.zip
tophat.exe
src/umkalibs.h
lib/stb_image.h
lib/miniaudio.h
tophat-linux.zip
tophat-win.zip
**/gmon.out
