[submodule "lib/rawdraw"]
	path = lib/rawdraw
	url = https://github.com/marekmaskarinec/rawdraw.git
[submodule "lib/umka"]
	path = lib/umka
	url = https://github.com/vtereshkov/umka-lang.git
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio.git
